{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react"
  ],
  "env": {
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "rules": {
    // don't force es6 functions to include space before paren
    "space-before-function-paren": 0,

    // allow specifying true explicitly for boolean props
    "react/jsx-boolean-value": 0,

    // allow imports mixed with non-import statements at top of file
    "import/first": 0,
    "indent": [2, "tab", { "ignoreComments": true }],
    "react/jsx-indent": [2, "tab"],
    "no-tabs": 0,
    "no-trailing-spaces": ["error", { "skipBlankLines": true }],
    "semi-spacing": [2, {"before": false, "after": true}],
    "semi": [2, "always"]
  }
}
